<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File name="FileLogger" fileName="logs/app.log" append="true">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </File>

        <SMTP name="EmailAppender" subject="Critical Error in Application"
              smtpHost="smtp.gmail.com"
              smtpPort="587"
              to="example1@gmail.com"
              from="example2@gmail.com"
              smtpUsername="example"
              smtpPassword="password"
              bufferSize="1">
            <Property name="mail.smtp.auth">true</Property>
            <Property name="mail.smtp.starttls.enable">true</Property>
            <Property name="mail.smtp.ssl.trust">smtp.gmail.com</Property>
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </SMTP>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="FileLogger"/>
        </Root>
        <Logger name="ErrorLogger" level="error" additivity="false">
            <AppenderRef ref="FileLogger"/>
            <AppenderRef ref="EmailAppender"/>
        </Logger>
    </Loggers>
</Configuration>