.root {
  -fx-font-family: "Segoe UI", sans-serif;
  -fx-font-size: 22px;
  -fx-background-color: #F3E5F5;
   -fx-text-fill: black;
}

//поля введення тексту і поля для вибору
.text-field, .combo-box {
  -fx-background-color: white;
  -fx-border-color: #B39DDB;
  -fx-border-radius: 13;
  -fx-background-radius: 13;
  -fx-padding: 4 6;
  -fx-pref-height:40px;
  -fx-max-width:550px;
}


//Плейсхолдери всередині TextField
.text-field .text {
  -fx-fill: #9E9E9E;
}


.title-label {
  -fx-font-weight: bold;
  -fx-text-fill: #B39DDB;
  -fx-padding: 10;
}
.info-label {
  -fx-text-fill: #333333;
}



//Всі кнопки
.button {
  -fx-background-color:
    linear-gradient(
      to bottom,
      #D1C4E9 0%,
      #B39DDB 100%
    );
  -fx-text-fill: white;
  -fx-background-radius: 6;
  -fx-border-radius: 6;
  -fx-padding: 8 16;
}
.button:hover {
  -fx-background-color:
    linear-gradient(
      to bottom,
      #B39DDB 0%,
      #9575CD 100%
    );
}
.button:disabled {
  -fx-background-color: #EDE7F6;
  -fx-text-fill: #9E9E9E;
}


.scroll-pane > .viewport {
  -fx-background-color: #F3E5F5;
  -fx-border-color: #F3E5F5;
   -fx-padding: 20;
}


//Картка солодощів
.sweets-card {
  -fx-background-color: white;
  -fx-border-color: #B39DDB;
  -fx-border-width: 2;
  -fx-border-radius: 10;
  -fx-background-radius: 10;
  -fx-padding: 15;
  -fx-effect: dropshadow(two-pass-box,rgba(0,0,0,0.05), 6, 0, 0, 2);
}
.sweets-name {
  -fx-font-weight: bold;
  -fx-text-fill: black;
  -fx-text-alignment: center;
  -fx-alignment: center;
}
.quantity-label {
  -fx-text-fill: grey;
}
.added-label {
  -fx-text-fill: purple;
  -fx-font-weight: bold;
}